@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200&display=swap');


.venue-details-wrap{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.machine-cards{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  width: 800px;
  height: 115px;
  border-radius: .5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  border: 2px solid black;
  font-family: 'Montserrat', sans-serif;
  transition: transform .45s ease, background .45s ease;
  
}
.machine-name{
  color: hsl(193, 16%, 22%);
  font-size: 2.5em;
  font-weight: 600;
  line-height: 0;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: .5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #753BBD;
  transition: color .45s ease, border .45s ease;
    
}

.machines-block{
  width: 300px;
  transform: rotate(-90deg);
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  border-bottom: 2px solid #753BBD;
}

.machine-price{
  margin: 5px;
  margin-left: 0;
}

.machine-comments{
  margin: 5px;
  margin-left: 0;
}

.venue-details {
  justify-content: center;
  align-self: flex-start;
}

.venue-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.venue-btn-container{
  display: flex;
  justify-content: center;
}

.machine-btn-container{
  margin: 0 auto;
}

.machines{
  margin-left: -103px;
}

.venue-edit-link{
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid #753BBD;
}

.venue-delete-btn{
  color: black;
  margin-left: 12px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid #753BBD;
}

.machine-edit-link{
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid #753BBD;
}

.machine-delete-btn{
  color: black;
  margin-left: 12px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid #753BBD;
}