.foot-container {
  display: flex;
  position: fixed; 
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  background-color: black;
  justify-content: space-around;
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid black;
}

.links {
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  color: turquoise;
}
.linked-link{
  margin-left: 115px;
  justify-self: right;
  color: turquoise;
}

.git-link{
  color: turquoise;
}

.copyright-yr{
  color: turquoise;
}